body {
    font-family: 'Playball', cursive;
    background-image: url("images/famous-artwork.jpg");
    color: white;
    padding: 20px;
};

div .answers {
    display: block;
}

.container {
    background-color: rgba(127, 146, 241, 0.8);
    color: black; 
    border: 2px groove rgb(37, 4, 37);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

div {
    font-size: 1.2em;
}
    
h1 {
    font-size: 5em;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}

#start, #start-over{
    padding: 5px 10px;
    font-size: 1.2em;
    font-family: 'Playball', cursive;
    border: 2px groove black;
}
#option-buttons {
    border: 2px groove black;
    margin: 2px;
}

